@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import the Merriweather font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

body {
  font-family: 'Merriweather', serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@keyframes blob {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-blob {
  animation: blob 8s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}
